@import "../../var.scss";

.Products__gallary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include respond(phone) {
        justify-content: space-around;
    }

    @include respond(port) {
        justify-content: space-around;
    }

    &--single {
        margin: 2rem;

        @include respond(phone) {
            margin: 0.2rem;
        }

        @include respond(port) {
            margin: 0.2rem;
        }
    }

    &--noProduct {
        color: $color-red-1;
        font-size: 2rem;
        text-align: center;
        padding-top: 5rem;
    }
}
