@import "./var.scss";

/* re usable class */
.container {
    margin: auto;
    max-width: 105rem;

    @include respond(phone) {
        width: 100%;
    }
    @include respond(port) {
        width: 100%;
    }
    @include respond(land) {
        width: 100%;
    }
}

/*   image  */
.bgImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}

.bgImgFixed {
    background-attachment: fixed;
}

/* app.js */
.App {
    font-size: 2rem;
}

.header {
    background-color: $color-white;
    z-index: $zIndex-1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    box-shadow: 0rem 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;

    & div {
        color: $sidebar-bg-color;
        font-weight: bold;
        font-size: 2.4rem;
        margin-left: 1rem;
    }

    &-logo {
        display: none;
        cursor: pointer;

        @include respond(phone) {
            display: block;
            margin-bottom: 0.5rem;
        }
    }
}

.sidebar {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: $header-height;
    width: $sidebar-width;
    height: 100vh;
    overflow-y: auto;
    border-right: 0.2rem solid $color-gray-2;
    background-color: $sidebar-bg-color;
}

.close {
    display: none;
}

.main {
    padding-top: $header-height;
    padding-left: $sidebar-width;

    @include respond(phone) {
        padding-left: 0;
    }
}

.open {
    transform: translateX(0);
    transition: all 0.5s;
}
