@import "../../var.scss";

.sidebar_details {
  padding: 3rem 1rem;
  width: 100%;
}

.sidebar_details-category {
  margin-bottom: 0.8rem;
  width: 100%;
}

.mainCategory {
  color: $color-black-2;
  font-size: 1.4rem;
  width: 100%;
}

.mainCategory:hover {
  background: linear-gradient(to right, #ece4e4, #d4e0e4);
}

.mainCategory.active {
  color: $color-red-2;
}

.subCategory {
  list-style: none;
  font-size: 1.2rem;
  color: $color-black-2;
  cursor: pointer;
  border-left: 1px solid $color-black-1;
  margin-left: 1rem;
  display: none;
  transition: all 2s;
}
.subCategory_items {
  margin-top: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.subCategory_items:hover {
  background: linear-gradient(to right, #ece4e4, #d4e0e4);
}

.subCategory_items-link.active {
  color: $color-red-2;
}
.open {
  display: block;
}
