@import "../../var.scss";

.users__filter {
    margin-top: 2rem;
    display: flex;

    &--search {
        width: 20rem;
        display: grid;
        grid-template-columns: 17rem 3rem;
        border: 1px solid $color-gray-1;
        border-radius: 0.6rem;
        overflow: hidden;

        & input {
            padding: 0.5rem 0.8rem;
            font-size: 1.4rem;
            border: none;
            outline: none;
        }

        & button {
            font-size: 1.6rem;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $color-white;
        }
    }

    & .refresh-btn {
        margin-left: 1rem;
        padding: 0.2rem 0.5rem;
        outline: none;
        border: none;
        border: 1px solid $color-gray-1;
        background-color: $color-white;
        cursor: pointer;
        font-size: 1.6rem;
    }
}
